<div class="header-height"></div>
<div class="padding-x py-2 bg-theme-color-blue">
    <div class="">
        <h1 class="main-title-light">About Us</h1>
        <div class="title-underline-light"></div>
    </div>
</div>

<section class="py-4">
    <div class="d-flex justify-content-between">
        <div class="col-5">
            <div class="w-100 d-flex align-center position-relative">
                <img src="../../../assets/images/home-about-us.png" alt="" class="w-100 capcule rounded-pill-left">
                <img src="../../../assets/images/frame-right.webp" alt="" class="curved-img-bg-right">
            </div>
        </div>
        <div class="col-6" >
            <div class="">
                <div class="mb-3">
                    <h1 class="main-title">Who We Are</h1>
                    <div class="title-underline"></div>
                </div>

                <div class="fs-6 w-75">
                    <p class="fw-normal">About BAC Infratech Pvt.Ltd.</p>
                    <p>At BAC Infratech, we pride ourselves on our ability to deliver comprehensive water supply solutions tailored to the unique needs of each project. 
                        Whether it's a small-scale residential development or a large-scale municipal infrastructure project, we approach every endeavor with the same level of dedication and attention to detail. 
                        Our team of professionals brings a wealth of experience and expertise to every job, ensuring that each installation is completed with precision and efficiency. 
                        With a focus on innovation and sustainability, we strive to not only meet but exceed industry standards, setting new benchmarks for excellence in water infrastructure development. 
                        When you choose BAC Infratech, you can trust that your project is in capable hands, and that we will work tirelessly to deliver results that exceed your expectations. Let us be your partner in building a better, more sustainable future through reliable water supply solutions. </p>
                </div>

                <div>
                    <button class="filled-blue-btn-md">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 padding-x">
    <div class="d-flex justify-content-between">
        <div class="col-8" >
            <div class="">
                <div class="mb-3">
                    <h1 class="main-title">Multiple Projects</h1>
                    <div class="title-underline"></div>
                </div>

                <div class="fs-6 w-100">
                    <p class="fw-normal">About BAC Infratech Pvt.Ltd.</p>
                    <p>Embarking on a comprehensive irrigation project, our team specializes in the planning, execution, and maintenance of pipeline installations for efficient and sustainable water distribution in agricultural settings. 
                        BAC Infratech Pvt Ltd specializes in installing water supply pipelines across diverse locations, ensuring efficient water distribution and accessibility. 
                        Embarking on a comprehensive irrigation project, our team specializes in the planning, execution, and maintenance of pipeline installations for efficient and sustainable water distribution in agricultural settings. </p>
                </div>

                <!-- <div>
                    <button class="filled-blue-btn-md">Read More</button>
                </div> -->
            </div>
        </div>

        <div class="col-md-3 col-lg-2">
            <div class="w-100 d-flex align-center position-relative">
                <img src="../../../assets/images/about-us-2.webp" alt="" class="w-100">
                <img src="../../../assets/images/frame-left.webp" alt="" class="curved-img-bg-left">
            </div>
        </div>
    </div>
</section>

<section class="py-4 padding-x pt-0">
    <div class="d-flex justify-content-between">
        <div class="w-100" >
            <div class="">
                <div class="mb-3">
                    <h1 class="main-title">Our History</h1>
                    <div class="title-underline"></div>
                </div>

                <div class="fs-6 w-100">
                    <p>Embarking on a comprehensive irrigation project, our team specializes in the planning, execution, and maintenance of pipeline installations for efficient and sustainable water distribution in agricultural settings. 
                        BAC Infratech Pvt Ltd specializes in installing water supply pipelines across diverse locations, ensuring efficient water distribution and accessibility. 
                        Embarking on a comprehensive irrigation project, our team specializes in the planning, execution, and maintenance of pipeline installations for efficient and sustainable water distribution in agricultural settings. </p>
                </div>

                <!-- <div>
                    <button class="filled-blue-btn-md">Read More</button>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="py-4 padding-x pt-0">
    <div class="d-flex justify-content-between">
        <div class="w-100" >
            <div class="">
                <div class="mb-3">
                    <h1 class="main-title">Core Business</h1>
                    <div class="title-underline"></div>
                </div>

                <div class="fs-6 w-100">
                    <p>Development works on regular contract basis as well as EPC and Turnkey basis. Apart from infrastructure development, 
                        our team specializes in the planning, execution, and maintenance of pipeline installations for efficient and sustainable water distribution in agricultural settings.  </p>
                </div>

                <!-- <div>
                    <button class="filled-blue-btn-md">Read More</button>
                </div> -->
            </div>
        </div>
    </div>
</section>

