<!-- Universal Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light padding-x">
  <div class="container-fluid h-100">
    <div class="navbar-brand h-100 p-0"><img src="assets/images/header-logo.png" class="h-100 header-logo" alt="Company logo"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=".">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutUsContainer">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicesContainer">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projectsContainer">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactUsContainer">Contact Us</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>



<router-outlet />



<div class="page-footer py-3 padding-x bg-center-cover" id="contactUsContainer">
  <div>
    <h1 class="text-light fw-normal mb-1">Company Support</h1>
    <p class="text-light fw-normal">Our Support available on all working days</p>
    <ul class="text-light ps-2" style="list-style-type: none;">
      <li class="d-flex align-center"><mat-icon class="me-1 fs-5">schedule</mat-icon> Mon to Sat - 9am to 5pm</li>
      <!-- <li class="d-flex align-center"><mat-icon  class="me-1 fs-5">schedule</mat-icon> Saturday - 9am to 5pm</li> -->
      <li class="d-flex align-center"><mat-icon class="me-1 fs-5">schedule</mat-icon> Sunday - Closed</li>
    </ul>
  </div>

  <div>
    <h1 class="text-light fw-normal mb-1">Company Support</h1>
    <p class="text-light fw-normal">Our Support available on all working days</p>
    <p class="text-light fw-normal">1st Floor, Sri Dufhdh Chassss, Thaksssr Hss Prasad lane Passutta, Hyderabad, Telangana 500082</p>
  </div>

  <div class="d-flex align-items-end justify-content-end">
    <div class="rounded-pill-right bg-light w-lg-50 w-sm-100 p-2 ps-4" style="font-weight: 600;">
      <p class="mb-1"><span class="fw-bold">Contact Us :</span> +91-7655644433 / +91-8746453534</p>
      <p class="mb-0"><span class="fw-bold">Email :</span> BACInfra&#64;gmail.com</p>
    </div>
  </div>
</div>


