<section class="vh-100 home-banner-section bg-center-cover">
    <div class="padding-x h-100 banner-content-container">
        <div class="h-100">
            <h1 class="fw-bold fs-1 title"><span class="theme-color-red">BAC</span> Infratech Pvt.Ltd.</h1>
            <div class="banner-text-carousel h-25 h-lg-50">
                <owl-carousel-o [options]="OwlBannerTextOptions" class="">
                    <ng-template class="item" carouselSlide><h6 class="text-light fw-normal fs-1 mt-3 item fade-in-up">Constructs Excellence.</h6></ng-template> 
                    <ng-template class="item" carouselSlide><h6 class="text-light fw-normal fs-1 mt-3 item fade-in-up">Building Foundations.</h6></ng-template> 
                    <ng-template class="item" carouselSlide><h6 class="text-light fw-normal fs-1 mt-3 item fade-in-up">Installing Pipelines. </h6></ng-template> 
                    <ng-template class="item" carouselSlide><h6 class="text-light fw-normal fs-1 mt-3 item fade-in-up">Supplying Services.</h6></ng-template> 
                     
                </owl-carousel-o>
            </div>
            <div class="d-flex mb-5">
                <button class="filled-blue-btn me-4" (click)="navigateToSection('servicesContainer')">Our Services</button>
                <button class="unfilled-btn" (click)="navigateToSection('projectsContainer')">Projects</button>
            </div>

            <div>
                <p class="text text-light w-100 w-lg-25 w-sm-100 fs-6">
                    BAC Infratech Pvt Ltd specializes in installing water supply pipelines across diverse locations, ensuring efficient water distribution and accessibility.
                </p>
            </div>
        </div>
    </div>

    <!-- banner backgrouund carousel -->
    <div class="banner-bg-carousel">
        <owl-carousel-o [options]="owlBannerOptions" class="w-100 h-100 d-block">
            <ng-template carouselSlide>
                <img src="../../../assets/images/banner-bg-1.webp" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../assets/images/banner-bg-2.webp" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../assets/images/banner-bg-3.webp" alt="">
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>

<section class="py-5 overflow-hidden" id="aboutUsContainer">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
        <div class="col-11 col-lg-5">
            <div class="w-100 d-flex align-center position-relative">
                <img src="../../../assets/images/home-about-us.png" alt="" class="w-100 capcule rounded-pill-left" style="background-color: red;">
                <img src="../../../assets/images/frame-right.webp" alt="" class="curved-img-bg-right">
            </div>
        </div>
        <div class="col-12 col-lg-6 pd-md-3" >
            <div class="">
                <div class="mb-3">
                    <h1 class="main-title">Who We Are</h1>
                    <div class="title-underline"></div>
                </div>

                <div class="fs-6 w-lg-75 w-sm-100">
                    <!-- <p class="fw-normal">About BAC Infratech Pvt.Ltd.</p> -->
                    <p>At BAC Infratech, we pride ourselves on our ability to deliver comprehensive water supply solutions tailored to the unique needs of each project. Whether it's a small-scale residential development or a large-scale municipal infrastructure project, we approach every endeavor with the same level of dedication and attention to detail. Our team of professionals brings a wealth of experience and expertise to every job, ensuring that each installation is completed with precision and efficiency. With a focus on innovation and sustainability, we strive to not only meet but exceed industry standards, setting new benchmarks for excellence in water infrastructure development. When you choose BAC Infratech, you can trust that your project is in capable hands, and that we will work tirelessly to deliver results that exceed your expectations. Let us be your partner in building a better, more sustainable future through reliable water supply solutions. </p>
                </div>

                <!-- <div>
                    <button class="filled-blue-btn-md" [routerLink]="['/aboutus']">Read More</button>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="py-3" id="servicesContainer">
    <div class="d-flex justify-content-between padding-x">
        <div class="">
            <h1 class="main-title">Our Services</h1>
            <div class="title-underline"></div>
        </div>
        <!-- <div>
            <button class="filled-blue-btn-sm">View All</button>
        </div> -->
    </div>

    <div class="padding-x py-2">
        <owl-carousel-o [options]="homeServicesOwlOptions" class="home-service-carousel">
            <ng-template carouselSlide *ngFor="let item of carouselServices">
                <div class="service-carousel-card my-3 mx-5 bg-center-cover d-flex align-items-end" style="background-image: url({{item.imgUrl}});">
                    <div class="carousel-inner p-4">
                        <h1 class="title">{{item.title}}</h1>
                        <p>{{item.breif}}</p>
                        <!-- <p class="clickable-text">Read More</p> -->
                    </div>
                </div>
            </ng-template>  
             
        </owl-carousel-o>
    </div>
</section>



<section class="py-3" id="projectsContainer">
    <div class="d-flex justify-content-between padding-x mb-2">
        <div class="">
            <h1 class="main-title">All Projects</h1>
            <div class="title-underline"></div>
        </div>
        <!-- <div>
            <button class="filled-blue-btn-sm">View All</button>
        </div> -->
    </div>

    <div class="bg-center-cover pipeline-bg-1 mb-3">
        <div class="padding-x">
            <div>
                <h1 class="text-light fw-bold fs-1">BAC Infratech</h1>
            </div>
            <p class="text-light fs-5 mb-0">Pipeline installation for efficient and sustainable water distribution in agriculture settings.</p>
        </div>
    </div>

    <div class="padding-x py-2">
        <div class="mb-3">
            <h1 class="main-title-md fs-5">On Going Projects</h1>
            <div class="title-underline"></div>
        </div>

        <div class="project-grid-container">
            <div *ngFor="let project of onGoingProjects"> 
                <div class="project-img-container center-item mb-2">
                    <img src="{{project.imgUrl}}" alt="" class="w-100">

                    <div class="project-img-overlay p-3 d-flex flex-column justify-content-end">
                        <p class="fs-4 text-light" style="font-weight: 500; line-height: 110%;">{{project.title}}</p>
                        <p class="fs-6 fw-normal text-light">{{project.brief}}</p>
                        <!-- <p class="clickable-text">Read More</p> -->
                    </div>
                    
                </div>
                <div>
                    <p class="fs-6 fw-bold text-dark">{{project.title}} - {{project.location}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-x py-2">
        <div class="mb-3">
            <h1 class="main-title-md fs-5">Completed Projects</h1>
            <div class="title-underline"></div>
        </div>

        <div class="project-grid-container">
            <div *ngFor="let project of completedProjects"> 
                <div class="project-img-container center-item mb-2">
                    <img src="{{project.imgUrl}}" alt="" class="w-100">

                    <div class="project-img-overlay p-3 d-flex flex-column justify-content-end">
                        <p class="fs-4 text-light" style="font-weight: 500; line-height: 110%;">{{project.title}}</p>
                        <p class="fs-6 fw-normal text-light">{{project.brief}}</p>
                        <!-- <p class="clickable-text">Read More</p> -->
                    </div>
                    
                </div>
                <div>
                    <p class="fs-6 fw-bold text-dark">{{project.title}} - {{project.location}}</p>
                </div>
            </div>
        </div>
    </div>

</section>

